In [ ]:
## Data Analysis with Pandas; seattle-401pyn2
### Video Game Sales
- Kim Damalas, 20 Jan 2021
- using stats from [Kaggle](https://www.kaggle.com/gregorut/videogamesales): vgsales.csv

In [11]:
import numpy as np
import pandas as pd

In [15]:
# Read data and convert to DataFrame
df = pd.read_csv("./vgsales.csv")

1. Which company is the most common video game publisher?

In [30]:
print("The most common game publishing company:")
df["Publisher"].mode()

The most common game publisher:

0    Electronic Arts
dtype: object

2. What’s the most common platform?

In [29]:
print("The most common platform:")
df["Platform"].mode()

The most common platform:

0    DS
dtype: object

3. What about the most common genre?

In [28]:
print("The most common genre of video games:")
df["Genre"].mode()

The most common genre of video games

0    Action
dtype: object

4. What are the top 20 highest grossing games?

In [27]:
print(f"Top 20 highest grossing games (in $M)")
df[["Name","Global_Sales"]].head(20)

Top 20 highest grossing games (in $M)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

5. For North American video game sales, what’s the median?

In [31]:
print("The median video game sales in North America (in $M):")
df["NA_Sales"].median()

The median video game sales in North America (in $M):

0.08

- XXXXXXXX Provide a secondary output showing ten games surrounding the median sales output

In [36]:
df["NA_Sales"].median()

0.08

XXXXXXX6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [53]:
top_seller = df[["Name","Global_Sales"]].head(1)
NA_sales = df[["Name","NA_Sales"]].head(1)
NA_sales_mean = df["NA_Sales"].mean()
print(NA_sales,NA_sales_mean)

         Name  NA_Sales
0  Wii Sports     41.49 0.26466742981082064

XXXX7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

XXX8. How many games on our top selling list star Mario? (developer question)

XXXXXX 9. How many versions of Call of Duty are on our top selling list? (developer question)

In [ ]:
XXXXX10. What game has the highest percentage of it's global sales from Japan? (developer question)

Column Headings:
Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales